{% extends '/base.html.twig' %}

{% block title %}Articles list{% endblock %}

{% block body %}
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Tags</th>
            <th></th>
        </thead>
        <tbody>
        {% for article in articles  %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.tags|join(',') }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
